vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Nov 2018 20:30:35 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|UCAS2\\buffingtona
vti_modifiedby:SR|UCAS2\\buffingtona
vti_timecreated:TR|19 Nov 2018 20:11:07 -0000
vti_backlinkinfo:VX|favorites.htm aboutus.htm birds.dwt home.htm surveypage.htm tributes.htm
vti_nexttolasttimemodified:TR|30 Nov 2018 20:30:08 -0000
vti_cacheddtm:TX|30 Nov 2018 20:30:35 -0000
vti_filesize:IR|4442
vti_cachedlinkinfo:VX|S|images/redback2.png
vti_cachedsvcrellinks:VX|FSUS|images/redback2.png
