vti_encoding:SR|utf8-nl
vti_author:SR|UCAS2\\buffingtona
vti_modifiedby:SR|UCAS2\\buffingtona
vti_timelastmodified:TR|30 Nov 2018 20:09:47 -0000
vti_timecreated:TR|30 Nov 2018 20:03:32 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|aboutus.htm favorites.htm birds.dwt home.htm surveypage.htm tributes.htm
vti_nexttolasttimemodified:TW|30 Nov 2018 20:03:32 -0000
vti_cacheddtm:TX|30 Nov 2018 20:09:47 -0000
vti_filesize:IR|303
